{% extends 'based.html' %}


{% block head %}

{% endblock %}

{% block content %}

          <form method="post" action="{% url 'wake_app_homework:add-route'  %}">
              {% csrf_token %}
              {{ route_form.as_p }}
              <input type="submit" value="Add route">
          </form>


    <h3>{{ route }}</h3>




      <select name="routes" id="route">
    {% for route in routes %}
        <option value="route">{{ route }}</option>
        <div id="welcomeDiv"  style="display:none;" class="answer_list" > {{ route }}</div>
    {% endfor %}
      </select>
    <input type="button" name="answer" value="Show Div" onclick="showDiv()" />
{% endblock %}

function showDiv() {
   document.getElementById('welcomeDiv').style.display = "block";
}